<div class="container-fluid">
  <div class="row">

      <div class="col-sm-6 lightside ">
        <div class="col-sm-12 flex-box">
          <div class="avatar-choose light">
            <%= image_tag("light_avatar.png", :class=>"avatar")%>
          </div>
        </div>

        <div class="col-sm-12 center-text light-link">
          <%=link_to 'The Lightside' %>
        </div>
      </div>


    <div class="col-sm-6 darkside side">
      <div class=" col-sm-12 flex-box">
        <div class="avatar-choose dark">
          <%= image_tag("dark_avatar.png", :class=>"avatar")%>
        </div>
      </div>

      <div class="col-sm-12 center-text dark-link">
        <%=link_to'The Darkside' %>
      </div>
    </div>

  </div>
</div>
