<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 lightside">
      <div class="col-sm-offset-1 flex-box">
        <div class="avatar-choose">
          <%= image_tag("light_avatar.png", :class=>"avatar")%>
        </div>
        <%=link_to'#'%>
      </div>
    </div>

    <div class="col-sm-6 darkside">
      <div class="col-sm-offset-1 flex-box">
        <div class="avatar-choose">
          <%= image_tag("dark_avatar.png", :class=>"avatar")%>
        </div>
        <%=link_to'#'%>
      </div>
    </div>

  </div>
</div>
