<div class="col-sm-offset-1 col-sm-1 col-md-8 col-md-offset-2">
  <h1> Reset Password </h1>
  <%= form_for @user do |f|%>
    <div class = "field form-group ">
      <%= f.label :email, class: 'control-label form-label' %>
      <%= f.email_field :email, class: 'form-control form-input' %>
    </div>

    <%= f.submit class: 'btn'  %>
    <%end%>

</div>
