<div class="col-xs-12 flex-box">
    <h1 class="notify-title">Thanks for Registering!</h1>
</div>
<div class="col-xs-12 flex-box">
    <p>You will be notified when your account is approved.</p>
</div>
<div class="col-xs-12 flex-box">
    <%= image_tag("lightsaber.png", :class=>"lightsaber img-responsive")%>
</div>
