<div class="col-sm-offset-1 col-sm-6">
  <h1 class="leaderboard_title"> Leaderboard</h1>
  <table class="table ">

  <tbody>
    <tr>
      <td>Bob</td>
      <td>1200 points</td>
      <td>20<%=image_tag('doughnut.png', :class=>'small-doughnut')%></td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>1100 points</td>
      <td>5<%=image_tag('doughnut.png', :class=>'small-doughnut')%></td>
    </tr>
    <tr>
      <td>July</td>
      <td>800</td>
      <td>1<%=image_tag('doughnut.png', :class=>'small-doughnut')%></td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-sm-offset-1 col-sm-3">
  <div class="profile_picture">
    <%= image_tag("light_avatar.png", :class=>"avatar")%>
  </div>

  <div>
    <h1>User Name</h1>
    <p> obiwan@drillz.com</p>
    <p class="hidden-xs">points: 1000</p>
    <p class="hidden-xs">doughnuts: 10</p>
  </div>


</div>
