<div class="yoda-patience-text">
  <div class="col-xs-12 flex-box">
      <h2 class="notify-title">Patience you must have my young Padawan.</h2>
  </div>
  <div class="col-xs-12 flex-box">
      <p>You will be notified when your account is approved.</p>
  </div>
</div>

<div class="col-xs-12 flex-box">
    <%= image_tag("yodahead.svg", :class=>"yoda-head")%>
</div>
