.answer-form {
  padding-bottom: 20px;
}

form.button_to {
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}

.single-drill-description {
  font-weight: 300;
  padding-bottom: 10px;
}

.solution-render ul li {
  color: $offwhite;
  font-weight: 100;
}
