// Place all the styles related to the GroupSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-result {
  padding-top: 20px;
}

.drill-title-list {
  font-weight: 300;
}

.overall-results {
  display: flex;
  padding: 20px 0;
}

.drill-boolean {
  font-style: italic;
  color: $offwhite;
}

.result-boolean {
  font-style: italic;
  margin-right: 10px;
}

.result-boolean, .solutions-result {
  background-color: goldenrod;
  padding: 5px;
  border-radius: 2px;
  font-family: $font-stack;
}
