// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Singe User Show */
.view-user-profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 60px;
}
.user-stats p {
  margin-bottom: 0;
    &:nth-child(1) {
      margin-top: 10px;
    }
}

.edit-action {
  margin-top: 10px;
    a {
      color: $green;
      &:hover {
        color: darken($green, 20%);
      }
  }
}

/* User Show */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
    p {
      margin-bottom: 1px;
    }
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.large-profile {
  width: 250px;
  height: 250px;
}

.profile-picture, .large-profile {
  border-radius: 50%;
  overflow: hidden;
  background-color: $green;
  padding: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.avatar {
  max-width: 100%;
}

.flex-box {
  display: flex;
  justify-content: center;
  overflow: visible;
}

.main {
  padding-top: 40px;
  background-color: $black;
}

.user-info {
  color: $offwhite;
}

.inline {
  display: inline;
}

.doughnuts {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.doughnut {
  width: 100px;
  height: 100px;
}

/* Edit*/
.action-items {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

/* Leaderboard */
.small-doughnut {
  width: 18px;
  height: 18px;
  margin-left: 7px;
}

/* Thank You for Signing Up */
.notify-title {
  text-align: center;
  margin-top: 60px;
}

.flex-box {
  display: flex;
  align-items: center;
}

.yoda-head {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 480px) {
  .user-profile {
    padding-bottom: 20px;
  }
}
