<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeDrillz | May the Force be With You</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <%= favicon_link_tag 'favicon.ico?v=1' %>

  </head>
  <body>
